<!-- <h1>Tepmlate Driven Form in Angular :)</h1>

<br><br>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

        <label for="email">Email address :</label>
        <input type="text" name="email" id="email" ngModel>

        <br><br>
      
        <label for="password" class="form-label">Password : </label>
        <input type="password" name="password" id="password" ngModel>

        <br><br>
 
        <button type="submit">Login</button>
    </form> -->


 <!-- <h1>Add Form Bootstrap in Angular :)</h1>
<br><br>
 <form class=" col-sm-6" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
<div class="mb-3">
    <label for="email" class="form-label">Email address :</label>
    <input class="form-control" type="text" name="email" id="email" ngModel>
</div>
   <div class="mb-3">
    <label for="password" class="form-label">Password : </label>
    <input class="form-control" type="password" name="password" id="password" ngModel>
   </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form> -->



<!-- <h1>Angular Reactive Form Validation :)</h1>

<br>

<div class="col-sm-6">
    <form [formGroup]="loginForm">
        <div class="sm-3">
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email here ..">
        </div>
        <br>
        <div class="sm-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password here ..">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div> -->

<!-- 
<h1>Add Validation in Angular Form :)</h1>

<div class="col-sm-6">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" ngModel>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->

<!-- <h1>Prefilled Angular Form :)</h1>

<form #userForm="ngForm">
  <input type="text" name="email" [ngModel]="userData.email"> <br><br>
  <input type="password" name="password" [ngModel]="userData.password"> <br><br>
  <input type="text" name="address" [ngModel]="userData.address"> <br><br>
  <input type="text" name="modile" [ngModel]="userData.modile"> <br><br>
  <button type="submit">Save</button>
</form> -->

<h1>Reactive Angular Form :)</h1>

<form [formGroup]="loginForm" (ngSubmit)="collectData()">
  <input type="text" name="username" > <br><br>
  <input type="password" name="password"  > <br><br>
  <button type="submit">Login</button>
</form>

