<!-- 
<h1>Add New Books</h1>
 <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong>Your Data has been entered.
     <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button> 
  </div> 
<form  (ngSubmit)="collectBooks()">
    <div class="form-group">
        <label for="exampleInputEmail1">Subject</label>
        <input type="text" class="form-control" formControlName="subject" placeholder="Enter book subject">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Enter book title">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">AuthorName</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter author name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">BookNo.</label>
        <input type="number" class="form-control" formControlName="name" placeholder="Enter BookNo.">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
 -->

