<!-- <h1>Hello World :)</h1>
<a routerLink="user">User</a>
<br>
<a routerLink="admin">Admin</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="contect">Contect</a>
                                                            
<router-outlet></router-outlet> -->

<!-- <h1 appCustomStyle>Custom Directive in Angular :)</h1>

<h2 appCustomStyle>Normal Heading</h2>

<h2 appCustomStyle>Custom Heading</h2> -->

<!-- <h2>Services in Angular :)</h2>

<h2>{{name}}</h2> -->

<!-- <h2>Call API in Angular :)</h2> -->

<!-- <h1>Show List From API Data in Angular :)</h1>

<table border="1">
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>User Id</td>
    </tr>
    <tr *ngFor="let item of data">
       <td>{{item.id}}</td>
       <td>{{item.title}}</td>
       <td>{{item.userId}}</td>
    </tr>
</table> -->

<!-- <h1>Model in Angular :)</h1> -->

<h1>Recap Routing or Module in Angular :)</h1>

<!-- <app-login></app-login>
<app-signup></app-signup> -->

<ul>
    <li>
        <a routerLink="Login">Login</a>
    </li> 
    <li>             
        <a routerLink="Signup">Signup</a>
    </li>

</ul>

<router-outlet></router-outlet>