<!-- <h1>Angular Interpolation</h1>
<h1>{{name}}</h1>
<h3>function called : {{getName()}}</h3>
<h3>get name Value : {{showName()}}</h3>
<h3>Object Value : {{obj.name}}</h3>
<h3>Object Value : {{obj.age}}</h3>
<h3>Array Value : {{arr[2]}}</h3>
<h3>Array Value : {{arr.length}}</h3>
<h3>Sum : {{40+10}}</h3>
<h3>Sum fo a and b : {{a+b}}</h3>
 <h3>{{a=10}}</h3> 
<h3>Location this page : {{siteUrl}}</h3>
<h3>{{window.location.href}}</h3> -->

<!-- <h1>It is Angular Works :)</h1> -->
<!-- <app-login></app-login>
<app-sign></app-sign> -->

 <!-- <h1>If Else Condition In Angular Works :)</h1> -->
<!--<h1 *ngIf="show=='yes'; then ifBlock else elseBlock">
 
</h1>

<ng-template #ifBlock>
    <h1>If  Block</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else Block</h1>
</ng-template> -->

<!-- <h1>If Else Condition In Angular Works :)</h1>

<ng-template  [ngIf]="show == 'red'">
  <h2>Red Block</h2>
</ng-template>
     
<ng-template  [ngIf]="show == 'green'">
  <h2>Green Block</h2>
</ng-template>

<ng-template  [ngIf]="show == 'yellow'">
  <h2>Yellow Block</h2>
</ng-template> -->
<!-- 
<h1>Switch Case In Angular</h1>
<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="background-color: red ; display: inline;">
    Red Color
  </h2>
  <h2 *ngSwitchCase="'green'" style="background-color: green ; display: inline;">
    Green Color
  </h2>
  <h2 *ngSwitchCase="'yellow'" style="background-color: yellow ; display: inline;">
    Yellow Color
  </h2>
  <h2 *ngSwitchCase="'blue'" style="background-color: blue ; display: inline;">
    Blue Color
  </h2>
</div> -->

<!-- <h1>For Loop in Angular :)</h1> -->
<!-- <h4 *ngFor="let item of data">
  {{item}}
</h4> -->
<!-- 
<table border="1" [cellSpacing]="0"> 
  <tr> 
    <td>(:Name:)</td>
    <td>(:Age:)</td>
    <td>(:Email:)</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
    <td>{{item.email}}</td>
  </tr>
</table> -->

<!-- <h1>Simple Form in Angular</h1>

<form #simpleForm='ngForm' (ngSubmit)="getUserValue(simpleForm.value)">
  <input type="text" ngModel name="username" placeholder="Enter name.."> <br><br>
  <input type="number3" ngModel name="age" placeholder="Enter age.."> <br><br>
  <input type="text" ngModel name="address" placeholder="Enter address.."> <br><br>
  <input type="password" ngModel name="password" placeholder="Enter password.."> <br><br>
  <button> Get User Value</button>
</form> -->

<!-- 
<app-header></app-header>

<h2>Make Header Footer in Angular:)</h2>

<app-footer></app-footer> -->

<!-- <h1>Style Binding in Angular :)</h1>
<h1 style="color: rgb(228, 68, 95);">Header 1</h1>
<h1 [style.color]="'green'">Header 2</h1>
<h1 [style.color]="color">Dymanic Style</h1>
<h1 [style.color]="err?'red':'skyblue'">Conditional Style</h1>
<button (click)="updatecolor()">Update Dymanic Style</button> -->

<h1 class="jumbotron">Add Bootstrap in Angular 10 :)</h1>

<app-jumbotron class="jumbotron"></app-jumbotron>
