<!-- <h1>Routing Module in Angular :)</h1> -->
<!-- <h1>Group Routing in Angular :)</h1>

<h2>Admin Page</h2>

<ul>
    <li>
        <a routerLink="admin/Login">Login</a>
    </li>
    <li>
        <a routerLink="admin/List">List</a>
    </li>
</ul>

<router-outlet></router-outlet>

<h2>User Page</h2>

<ul>
    <li>
        <a routerLink="user/Login">Login</a>
    </li>
    <li>
        <a routerLink="user/List">List</a>
    </li>
</ul>

<router-outlet></router-outlet> -->
<!-- 
<h1>Lazy Loading in Angular :)</h1>

<h2>First Modules Works :)</h2>
<ul>
    <li>
        <a routerLink="first/login">Login</a>
    </li>
    <li>
        <a routerLink="first/signUp">SignUp</a>
    </li>
</ul>
<router-outlet></router-outlet>

<h2>Second Modules Works :)</h2>
<ul>
    <li>
        <a routerLink="second/login">Login</a>
    </li>
    <li>
        <a routerLink="second/signUp">SignUp</a>
    </li>
</ul>
<router-outlet></router-outlet> -->

<h1>Lazy Loading A Component in Angular :)</h1>
<button (click)="loadAdmin()">Load Admin Page</button>
<br><br>
<button (click)="loadUser()">Load User Page</button>